name: Python package

on:
  schedule:
    - cron: "* * * * *"   # runs every day at 00:00 UTC
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Run script
        run: python hello.py
